<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="calendarService.calendarSidenavOpened$ | async"
    [mode]="(screenSizeService.isPhone$ | async) ? 'over' : 'side'"
    [autoFocus]="false"
    (closedStart)="calendarService.closeCalendarSidenav()"
  >
    <app-sidenav-layout (openEvent)="sidenav.close()"></app-sidenav-layout>
  </mat-sidenav>
  <mat-sidenav
    class="sidenav-timeline"
    [position]="'end'"
    [opened]="timelineService.timelineOpened$ | async"
    [mode]="(screenSizeService.isPhone$ | async) ? 'over' : 'side'"
    (closed)="timelineService.toggleTimeline(false)"
    (closedStart)="timeline.updateShifts()"
  >
    <!-- <app-upcoming-events-list></app-upcoming-events-list> -->
    <app-timeline #timeline></app-timeline>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
