.toolbar-wrapper {
  margin: -24px;
  margin-bottom: 0;

  mat-toolbar {
    background: transparent;
  }
}

.time-container {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.description {
  text-align: justify;
}

.employee-list {
  margin-bottom: 16px;
  transition: all 0.25s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 10px;

  .employee-card {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;

    &:hover {
      background-color: #f7f8f8;
    }

    &:active {
      background-color: #e8e8e9;
    }

    &__username {
      margin-bottom: 0;
      text-align: center;
    }
  }
}
