<!-- Header Toolbar -->
<div class="toolbar-wrapper">
  <mat-toolbar>
    <p>{{ calendarEvent.title }}</p>
    <button
      class="ml-auto"
      matTooltip="Schließen"
      mat-icon-button
      (click)="closeDialog()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      matTooltip="Löschen"
      (click)="deleteEvent()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>
</div>

<!-- Content -->
<mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-card-subtitle
          class="my-3"
          style="text-align: center; display: block;"
        >
          Veranstaltung am
          <strong>
            {{ calendarEvent.start.toDate() | date: 'shortDate' }}
          </strong>
        </mat-card-subtitle>
      </div>
    </div>
    <div class="row">
      <div class="col-6 time-container">
        <mat-icon class="mr-2" matTooltip="Start des Events"
          >access_time</mat-icon
        >
        {{ calendarEvent.start.toDate() | date: 'HH:mm' }}
      </div>
      <div class="col-6 time-container" matTooltip="Ende des Events">
        <mat-icon class="mr-2">timelapse</mat-icon>
        {{ calendarEvent.end.toDate() | date: 'HH:mm' }}
      </div>
    </div>
  </div>
  <p>{{ calendarEvent.description }}</p>

  <div class="employee-list">
    <div class="employee-card mat-elevation-z1" *ngFor="let employee of calendarEvent.employees">
      <app-avatar></app-avatar>
      <p>{{ employee.name.first }}</p>
    </div>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<!-- Actions -->
<mat-dialog-actions>
  <button mat-button class="ml-auto mr-2">Schließen</button>
  <button mat-flat-button color="primary">Aktualisieren</button>
</mat-dialog-actions>
