<mat-toolbar class="px-0" style="background-color: transparent;">
  Veranstaltung
  <button tabindex="-1" class="ml-auto" mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <div class="container full-width-form-field px-0" [formGroup]="addEventForm">
    <!-- Title -->
    <div class="row pb-4">
      <div class="col">
        <mat-form-field [floatLabel]="'always'" [appearance]="'fill'">
          <mat-label>Veranstaltungsbezeichnung</mat-label>
          <mat-hint
            >Die Bezeichnung, die im Dienstplan angezeigt wird.</mat-hint
          >
          <input
            matInput
            placeholder="Wähle einen Titel"
            formControlName="title"
            autocomplete="off"
          />
          <mat-icon class="mr-2" matPrefix>assignment</mat-icon>
          <mat-error *ngIf="title.invalid"
            >Bitte einen Titel für die Veranstaltung wählen.</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <!-- Employees -->
    <div class="row pb-4">
      <div class="col">
        <div class="users-container">
          <mat-form-field [floatLabel]="'always'" [appearance]="'fill'">
            <mat-label>Mitarbeiter für die Veranstaltung</mat-label>
            <mat-hint>Mitarbeiter über die Liste auswählen.</mat-hint>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let user of employees.value"
                [selectable]="true"
                [removable]="true"
              >
                {{ user.name.first }} {{ user.name.last | trunk: 1 }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Mitarbeiter hinzufügen"
                #fruitInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              />
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let user of users$ | async" [value]="user">
                {{ user.name.full }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Start -->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field [floatLabel]="'always'" [appearance]="'fill'">
          <mat-label>Beginn des Events</mat-label>
          <input
            [matDatepicker]="startPicker"
            matInput
            formControlName="start"
            (focus)="startPicker.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            [touchUi]="screenSizeService.isPhone$ | async"
            #startPicker
          ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field [floatLabel]="'always'" [appearance]="'fill'">
          <mat-label>Uhrzeit</mat-label>
          <input matInput type="time" formControlName="startTime" />
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <!-- End -->
    <div class="row pb-2">
      <div class="col-md-6">
        <mat-form-field [floatLabel]="'always'" [appearance]="'fill'">
          <mat-label>Ende des Events</mat-label>
          <input
            (focus)="endPicker.open()"
            [matDatepicker]="endPicker"
            matInput
            formControlName="end"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            [touchUi]="screenSizeService.isPhone$ | async"
            #endPicker
          ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field [floatLabel]="'always'" [appearance]="'fill'">
          <mat-label>Uhrzeit</mat-label>
          <input type="time" matInput formControlName="endTime" />
          <mat-icon matSuffix>timelapse</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <!-- Preview image -->
    <!-- <div class="row">
      <div class="col">
        <div class="previewImage">

        </div>
      </div>
    </div> -->

    <!-- Description -->
    <div class="row">
      <div class="col">
        <mat-form-field [floatLabel]="'always'" [appearance]="'fill'">
          <mat-label>Veranstaltungsbeschreibung</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Beschreibe die Veranstaltung..."
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="pb-4 pt-1">
  <button mat-button class="ml-auto mr-1" (click)="closeDialog()">
    Abbrechen
  </button>
  <button mat-flat-button color="primary" (click)="onAddEvent()">
    Event anlegen
  </button>
</mat-dialog-actions>
