<h1 class="mb-3 mt-0" style="text-align: center;">Passwort zurücksetzen</h1>
<div class="pw-forgotten-container full-width-input" [formGroup]="authForm">
  <mat-form-field [floatLabel]="'always'">
    <mat-label>E-Mail</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Deine E-Mail-Adresse"
    />
    <mat-hint>Bitte gib deine E-Mail-Adresse an.</mat-hint>
    <mat-error *ngIf="email.invalid"
      >Bitte gib eine vollständige E-Mail-Adresse an.</mat-error
    >
  </mat-form-field>
</div>

<button
  mat-raised-button
  class="auth-button"
  [disabled]="email.invalid"
  color="primary"
  (click)="onSubmit()"
>
  Passwort anfordern
</button>

<button mat-button class="auth-button mt-2" [routerLink]="['/auth']" >
  Zurück
</button>
