/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import './assets/scss/calendar/fullcalendar.scss';
@import './assets/scss/calendar/calendar.scss';

@import './assets/scss/kropka.scss';
@import './assets/scss/kropka-theme.scss';
