/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  --time-point-size: 16px;
  --time-point-text-color: #333;
  --time-point-color: rgba(0,0,0,0.75);
  --time-point-border-color: #ccc;
  --time-point-border-size-ratio: 1.6;
  --time-point-border-size: 1px;
  --time-point-background-color: white;
  --time-point-role-color: purple;
}

@import './assets/scss/calendar/fullcalendar.scss';
@import './assets/scss/calendar/calendar.scss';

@import './assets/scss/kropka.scss';
@import './assets/scss/kropka-theme.scss';
